body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #0000; 
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background: linear-gradient(45deg, #4caf50, #009688, #4caf50, #009688);
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}



}

.calculator {
  background-color: #333;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  padding: 30px;
  text-align: center;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
  margin-top: 20px;
}

button {
  font-size: 24px;
  padding: 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: #555;
  color: #fff;
  transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
  background-color: #0000FF;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 32px;
  text-align: right;
  background-color: #444;
  color: #fff;
  border: none;
  border-radius: 8px;
  margin-bottom: 15px;
}
.pressed {
  background-color: #0000FF !important;
  color: #fff !important;
}
